<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"/>
    <title>logged in</title>
  </head>
  <body>
    <div class="main-wrapper">
      <main>
        <h1>logged_in</h1>
        <p>uid: <%=uid %></p>
        <p><a href="<%=ret %>">back</a></p>
      </main>
    </div>
  </body>
</html>
