<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8"/>
    <title>ERROR</title>
  </head>
  <body>
    <div class="main-wrapper">
      <main>
        <h1>an error page</h1>
        <p>Message: <%=msg %></p>
        <p><a href="<%=baseUrl%>">Back to top.</a></p>
      </main>
    </div>
  </body>
</html>
