<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8"/>
    <title>TOP</title>
  </head>
  <body>
    <h1>An access controled file server</h1>
    <p>You are logged in as <%=uid%>.</p>
    <p>If you want to access any files on this server, you need to login.</p>
    <p><a href="./auth/">login, logout</a></p>
  </body>
</html>
